server:
  port: 8081

spring:
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          "[/**]":
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
      server:
        webflux:
          routes:
            - id: admin-service
              uri: lb://admin-service
              predicates:
                - Path=/api/admin/**
            - id: health-service
              # 'lb://' means Load Balanced.
              # It tells the Gateway to find 'HEALTH-SERVICE' in Eureka
              uri: lb://health-service
              predicates:
                - Path=/api/health/**
              # filters:
              # This regex says: take everything after /health and just use that
              # It turns /health/api/status into /api/status
              # - RewritePath=/health/(?<segment>.*), /$\{segment}

            - id: identity-service
              uri: lb://identity-service
              predicates:
                - Path=/api/auth/**
  application:
    name: gateway-service
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
jwt:
  secret: s8RkPZQ3m!7A9WvN@L2F#xY6uEJt0H$BqC5%M^dK_r
  expiration: 86400000 # 1 day in milliseconds
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, shutdown
  endpoint:
    health:
      show-details: always # This gives you the disk and DB status
    shutdown:
      access: unrestricted
