server:
  port: 8092
logging:
  level:
    root: INFO
    org:
      springframework:
        web: INFO
spring:
  application:
    name: health-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/health
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    lease-renewal-interval-in-seconds: 5 # Send heartbeat every 5s
    lease-expiration-duration-in-seconds: 10 # Kick me out if I'm silent for 10s

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      show-details: always # This gives you the disk and DB status
